<div class="flex justify-center items-center h-screen w-screen">
  <div class="shadow-sm w-1/5 p-10 rounded-md">
    <h1 class="text-xl font-bold">Reset Password?</h1>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordHandle()">
      <!-- Email Field -->
      <mat-form-field appearance="outline" class="w-full mt-3">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email" readonly />
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <!-- New Password Field -->
      <mat-form-field appearance="outline" class="w-full mt-3">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" placeholder="New Password" />
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
          New password is required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
          Password must be at least 8 characters
        </mat-error>
      </mat-form-field>

      <!-- Reset Button -->
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="w-full mt-4"
        [disabled]="resetPasswordForm.invalid"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
